export("plotres")
export("randnorm")
export("randou")
exportMethods("calcres")
exportMethods("calcsens")
exportClasses("process","reactor","link","system")

import(methods,deSolve,stoichcalc)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("stats", "approx", "rnorm")
